#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${public_key}

ssh_pwauth: false
disable_root: true

write_files:
  - path: /etc/sysctl.d/90-lab.conf
    content: |
      net.ipv4.ip_forward = 1
      net.core.rmem_default = 262144
      net.core.wmem_default = 262144
    permissions: "0644"

packages:
  - qemu-guest-agent
  - curl
  - vim
  - git

runcmd:
  - systemctl enable --now qemu-guest-agent
